// COLOR THEME
$primary-color: rgb(0, 123, 255);  // CALM BLUE
$secondary-color: #28a745;  // LIGHT GREEN
$tertiary-color: rgb(108, 117, 125);  // MEDIUM GRAY
$accent-color: #f8c146;  // SOFT ORANGE

$white: #ffffff;  // WHITE
$black: #000000;  // BLACK
$red: #dc3545;  // RED
$grey: #f8f9fa;  // LIGHT GRAY

// FONTS
$font-secondary: 'Roboto', sans-serif;  // FONT FOR BODY TEXT
$font-primary: 'Merriweather', serif;  // FONT FOR HEADINGS


// BREAKPOINTS
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

